<mat-toolbar>
  <span (click)="goToHome()" style="cursor: pointer">CRYPTO CHECKER</span>
  <span class="example-spacer"></span>
  <mat-form-field>
    <mat-select (valueChange)="sendCurrency($event)" class="text-sm" [(ngModel)]="selectedCurrency">
      <mat-option selected value="USD">USD</mat-option>
      <mat-option value="CAD">CAD</mat-option>
      <mat-option value="CNY">CNY</mat-option>
      <mat-option value="JPY">JPY</mat-option>
      <mat-option value="RUB">RUB</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<router-outlet></router-outlet>